.form-container {
  background-color: #FFF; 
  margin: 20px 100px; 
  border-radius: 10px; 
  padding: 20px; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.form-label {
  display: inline-block;
  width: 150px; 
  text-align: left;
  font-weight: 500;
  font-size: 1.4em; 
}

.form-input {
  margin: 20px;
  width: 50%; 
  height: 20px;
}

.form-button {
  background-color: #d92975;
  padding: 10px;
  font-size: 1.2em; 
  border: none; 
  border-radius: 10px; 
}