.card {
  display: flex; 
  flex-direction: column;  
  padding: 20px; 
  background-color: #FFF;
  margin: 10px; 
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.card-photo {
  width: 75%;
  height: 250px;
  object-fit: cover; 
  border-radius: 10px; 
  align-self: center;
}

.card-name {
  color: #d92975;
  font-weight: 700; 
}

.card-quote {
  font-style: italic; 
}

.card-superlative {
  color: #1f5c35;
  font-size: 1.3em; 
  font-weight: 500; 
  background: #e6f5f5;
  padding: 5px; 
  border-radius: 5px; 
}